"*":
  "autocomplete-python": {}
  core:
    disabledPackages: [
      "linter"
    ]
    telemetryConsent: "no"
  editor:
    fontFamily: "source code pro"
    invisibles: {}
    preferredLineLength: 160
    showIndentGuide: true
    showInvisibles: true
    tabLength: 2
  "exception-reporting":
    userId: "c9ccb34a-7d50-e9b3-7f63-0ed5c092aed0"
  kite:
    showKiteTourOnStartup: false
  "linter-ui-default": {}
  "platformio-ide-terminal":
    style:
      theme: "solarized-dark"
  welcome:
    showOnStartup: false
